.center-all-login{
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
}
.caixa-login{
    height: 100vh;
    transform: translate(-50%)
}

.center-logo-login{
    position: relative;
    left: 50%;
}
.logo-login{
    transform: translate(-50%)
}
