.height-all{
    height: 100vh;
}

.center-all{
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
}
.caixa{
    height: 100vh;
    transform: translate(-50%)
}

.center-logo{
    position: relative;
    left: 50%;
}
.logo{
    transform: translate(-50%)
}
