<nav class="panel">
        <div class="panel-heading">
            <i class="fas fa-chalkboard-teacher"></i>
            PROFESSORES
        <Button class="button is-primary to-right" (click)="active()">
            <i class="fas fa-plus-circle"></i>
        </Button>
    </div>
    <div class="panel-block">
        <p class="control has-icons-left">
        <input class="input is-small" #evento (keyup)="filtrar(evento.value)" type="text" placeholder="procurar">
        <span class="icon is-small is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        </p>
    </div>
    <div [class]="scroll ? 'scroll':''">
        <a class="panel-block is-active" *ngFor="let professor of professores">
            <span class="panel-icon">
                <i class="fas fa-chalkboard-teacher"></i>
            </span>
            <p>{{professor.professor}}</p>
        </a>
    </div>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth" (click)="scroll = !scroll">
            Ver Todos
        </button>
    </div>
</nav>

<div [class]="modal ? 'modal is-active':'modal'">
    <div class="modal-background" (click)="cancelar()"></div>
    <div class="modal-content">
        <div class="box">
            <div class="columns">
                <div class="column">
                        <label for="" class="label">Adicionar Professor:</label>
                    <input type="text" class="input" [(ngModel)]="professor">
                </div>
                <div class="column">
                    <label for="" class="label">&nbsp;</label>
                    <button class="button is-info is-fullwidth" (click)="addProfessor()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="cancelar()"></button>
</div>
