<nav class="panel">
    <div class="panel-heading">
        <i class="fas fa-sticky-note"></i>
        AVISOS IMPORTANTES
    </div>
    <div class="panel-block">
        <p class="control has-icons-left">
        <input class="input is-small" #evento (keyup)="filtrar(evento.value)" type="text" placeholder="procurar">
        <span class="icon is-small is-left">
            <i class="fas fa-search" aria-hidden="true"></i>
        </span>
        </p>
    </div>
    <div [class]="scroll ? 'scroll':''">
        <a class="panel-block is-active" *ngFor="let aviso of avisos">
            <span class="panel-icon">
                <i class="fas fa-sticky-note"></i>
            </span>
            {{aviso.aviso}}
        </a>
    </div>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth" (click)="scroll = !scroll">
        Ver Todos
        </button>
    </div>
</nav>