.center-all-cadastro{
    width: 40%;
    position: absolute;
    top: 0;
    left: 50%;
}
.caixa-cadastro{
    height: 100vh;
    transform: translate(-50%)
}

.center-logo-cadastro{
    position: relative;
    left: 50%;
}
.logo-cadastro{
    transform: translate(-50%)
}
