<section *ngIf="rendered" class="hero is-primary height-all">
    <div class="hero-body">
      <div class="container center-all">
        <div class="caixa box has-background-info"> 
            <div class="container center-logo">
                <img class="logo-container" src="../assets/estacio-logo.png" width="150px">
            </div>
            <div class="container" style="height: 100px">
                <p class="title has-text-centered is-4">GESTÃO DE RECURSOS</p>
            </div>
            <div class="columns">
                <div class="column is-1"></div> 
                <div class="column">
                    <button [routerLink]="['/cadastrar']" (click)="rendered = false" class="button is-white is-fullwidth">Cadastre-se</button>
                </div>
                <div class="column is-1"></div> 
                <div class="column">
                    <button [routerLink]="['/login']" (click)="rendered = false" class="button is-white is-fullwidth">Login</button>
                </div>
                <div class="column is-1"></div> 
            </div>
        </div>
      </div>
    </div>
</section>

<app-navbar></app-navbar>
<router-outlet></router-outlet>