.height-all{
    height: 100vh;
}

.center-all-app{
    width: 50%;
    position: absolute;
    bottom:50%;
    left: 50%;
}
.caixa-app{
    transform: translate(-50%,50%)
}

.center-logo-app{
    position: relative;
    left: 50%;
}
.logo-container-app{
    transform: translate(-50%)
}

