
<div class="container">
    <div class="container margins">
        <button class="button is-primary" [routerLink]="['/','reserva','nova-reserva']">
            <i class="fas fa-plus-circle"></i>
            Nova reserva
        </button>
    </div>
    <div class="margins field">
        <label for="" class="label">Procurar</label>
        <input #search type="text" class="input" (keyup)="filtrar(search.value)">
    </div>
    <table class="table is-fullwidth is-striped">
        <thead>
            <th>DATA DA RESERVA</th>
            <th>TIPO DA RESERVA</th>
            <th>RESERVA</th>
            <th>PROFESSOR</th>
            <th>FINALIZADA</th>
       </thead>
       <tbody>
           <tr *ngFor="let reserva of reservas" (click)="editar(reserva)">
            <td>{{reserva.dataReserva | date}}</td>
            <td>{{reserva.tipoReserva}}</td>
            <td *ngIf="reserva.reserva.bloco">{{reserva.reserva.bloco}} - {{reserva.reserva.sala}}</td>
            <td *ngIf="reserva.reserva.equipamento">{{reserva.reserva.tipo}} - {{reserva.reserva.equipamento}}</td>
            <td>{{reserva.professor.professor}}</td>
            <td>{{reserva.finalizada | reservado}}</td>
           </tr>
       </tbody>
    </table>
    <div class="tabs is-fullwidth">
        <ul>
            <li>
            <a (click)="anterior()">
                <span class="icon"><i class="fas fa-angle-left" aria-hidden="true"></i></span>
                <span>Anterior</span>
            </a>
            </li>
            <li>
            <a>
                <span class="icon"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
                <!-- <span>Subir</span> -->
            </a>
            </li>
            <li>
            <a (click)="proximo()">
                <span>Proximo</span>
                <span class="icon"><i class="fas fa-angle-right" aria-hidden="true"></i></span>
            </a>
            </li>
        </ul>
    </div>
</div>
