<div style="margin-top: 15px">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="margins">
                    <app-avisos-dash></app-avisos-dash>
                </div>
                <div class="margins">
                    <app-professores-dash></app-professores-dash>
                </div>
            </div>
            <div class="column">
                <div class="margins">
                    <app-reservas-dash></app-reservas-dash>
                </div>
            </div>
        </div>
    </div>
</div>