<div class="container margin-top">
  <div class="tabs is-boxed is-centered">
    <ul>
      <li [class]="klasses[0]">
        <a (click)="change(0)">
          <span class="icon is-small">
            <i class="fas fa-chalkboard-teacher" aria-hidden="true"></i>
          </span>
          <span>Professores</span>
        </a>
      </li>
      <li [class]="klasses[1]">
        <a (click)="change(1)">
          <span class="icon is-small">
            <i class="fas fa-toolbox" aria-hidden="true"></i>
          </span>
          <span>Equipamentos</span>
        </a>
      </li>
      <li [class]="klasses[2]">
        <a (click)="change(2)">
          <span class="icon is-small">
            <i class="far fa-file-alt" aria-hidden="true"></i>
          </span>
          <span>Salas</span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="view == 0">
      <app-professores></app-professores>
  </div>
  <div *ngIf="view == 1">
      <app-equipamentos></app-equipamentos>
  </div>
  <div *ngIf="view == 2">
      <app-salas></app-salas>
  </div>
</div>